.home {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}

.column {
    flex: 1;
}

.left {
    margin-right: 10px;
}

.right {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left {
        margin-right: 0;
    }

    .right {
        margin-left: 0;
    }
}
